.htpasswd
website/upload/*json
website/upload/highest
website/tmp
website/docs/compiled
website/upload/highest.lock
website/app/microbug/migrations/0*
installer/win/PY2EXE/build
installer/win/PY2EXE/dist
installer/mac_os_x/build
installer/mac_os_x/dist
installer/mac_os_x/libs
installer/mac_os_x/*.dmg
*.pyc
genprogs/
staging/SWP
*.zip
parser.out
parsetab.py
*~
build-leonardo/
website/docs/4weeks.txt
website/docs/stage
**/.DS_Store
**/.idea
**/*.sqlite3
**/.sass-cache
