.htpasswd
website/upload/*json
website/upload/highest
website/tmp
website/docs/compiled
website/upload/highest.lock
*.pyc
genprogs/
staging/SWP
*.zip
parser.out
parsetab.py
*~
build-leonardo/
website/docs/4weeks.txt
website/docs/stage
**/.DS_Store
**/.idea
**/*.sqlite3
**/.sass-cache
