/* This file contains the CSS required specifically for the test page */

body {
    //background-image: url('/static/bug/img/background/mooning.png');
}

.tab-content {
    border-top: 0px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0.5em 1em 0.5em 1em;
    min-height: 10em;
}

.footer {
    margin-top: 0.5em;
    text-align: center;
    color: #ddd;
}

.changed_name {
    color: red !important;
}

.changed_button {
    color: red !important;
}

.name_entry {
    margin-bottom: 1em;
    padding: 0;
}

_content > * {
    display: none;
}

.program_summary {
    border: 1px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 0 1em 0 1em;
    margin: 0 0 1em 0;
    height: 10em;
}

.program_summary > pre {
    height: 8em;
}

.program_summary > h1 {
    font-size: 120%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.unnamed_program {
    color: red;
}

.unnamed_program > * {
    color: red;
}

.page_level_element {
    margin: 0 0 1em 0;
}

.page-content {
    background: #fff;
    color: black;
}

.css {
    color: red;
}

#emulator {
    text-align: center;
}

#emulator canvas {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.edit-phrase {
    color: darkred;
}

.large-input {
    font-size: 24px;
    vertical-align: middle;
    margin: 5px 0 5px 0;
}