<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static "microbug/css/bootstrap.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "microbug/css/test.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "microbug/css/microbug-tutorial.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "microbug/css/font-awesome.css" %}"/>

        {% if needs_facilitator_email %}
            <!-- It's important we have facilitator email -->
            <script id="needs_facilitator_email"></script>
        {% endif %}

        <!-- Start of head block -->
        {% block head %}{% endblock %}
        <!-- End of head block -->
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url "microbug:index" %}">BBC Bug</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'microbug:create_program' %}">Create Program</a></li>
                    <li><a href="{% url 'microbug:programs' %}">Browse Programs</a></li>
                    <li class="divider-vertical"></li>
                    <li id="login">
                        <p class="navbar-text"><i class="fa fa-refresh fa-spin"></i>&nbsp;Getting login</p>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <!-- Start of body block -->
            {% block body %}{% endblock %}
            <!-- End of body block -->
        </div>

        {% include "microbug/partials/_debug.html" %}
        <div class="footer">
            Copyright (C) 2014 BBC.
        </div>

        <script src="{% static 'microbug/js/jquery-1.11.1.js' %}"></script>
        <script src="{% static 'microbug/js/bootstrap/bootstrap.js' %}"></script>
        <script src="{% static 'microbug/blockly/blockly_compressed.js' %}"></script>
        <script src="{% static 'microbug/blockly/blocks_compressed.js' %}"></script>
        <script src="{% static 'microbug/blockly/python_compressed.js' %}"></script>
        <script src="{% static 'microbug/blockly/javascript_compressed.js' %}"></script>
        <script src="{% static 'microbug/blockly/msg/js/en.js' %}"></script>

        <script src="{% static 'microbug/js/dal_browser.js' %}"></script>
        <script src="{% static 'microbug/js/acorn_interpreter.js' %}"></script>

        <script src="{% static 'microbug/blockly/blocks/microbug.js' %}"></script>
        <script src="{% static 'microbug/blockly/generators/javascript/microbug.js' %}"></script>
        <script src="{% static 'microbug/blockly/generators/python/microbug.js' %}"></script>
        <script src="{% static 'microbug/js/simio.js' %}"></script>


        <script src="{% static 'microbug/js/bootbox.js' %}"></script>
        <script src="{% static 'microbug/js/test.js' %}"></script>
    </body>
</html>