{% extends 'microbug/_master.html' %}

{% block head %}
    <title>{{ tutorial_name }}</title>
{% endblock %}

{% block body %}
    <h1>TUTORIALFUN</h1>
    {% include "microbug/partials/_emulator_editor_tutorial.html" %}
    <hr/>
    <div id="tutorial_content">
        {% block tutorial_pages %}
        {% endblock %}
    </div>

    <button id="tutorial_back" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i>&nbsp;Back
    </button>
    <button id="tutorial_forward" class="btn btn-primary">
        Forward&nbsp;<i class="fa fa-arrow-right"></i>
    </button>
{% endblock %}