{% extends 'microbug/_master.html' %}

{% block head %}
    <!-- Main page: create_program.html -->
    <title>Microbug: Create Program</title>
{% endblock %}

{% block body %}
    <h1>Create Program</h1>
    <!--
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    </p>
    -->

    <div class="input-group page_level_element">
        <input type="text" class="form-control" id="program_name"  placeholder="Program name">
        <span class="input-group-addon createProgram">Save</span>
    </div>

    {% include "microbug/partials/_emulator_editor.html" with buildBtnId='createProgram' buildBtnText='Create Program'%}
{%  endblock %}