{% extends 'microbug/_master.html' %}

{% block head %}
    <title>Microbug: Create Program</title>
{% endblock %}

{% block body %}
    <h1>Create Program</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    </p>

    <div class="name_entry col-md-12">
        <input type="text" id="original_program_name" class="hidden">
        <div class="input-group">
            <input type="text" class="form-control" id="program_name" placeholder="Program name">
            <span class="input-group-addon" id="program_rename">Rename</span>
        </div>
    </div>

    <div id="emulator" class="rounded emulator col-md-3">
        Emulator
    </div>
    <div class="editor col-md-9">
        <ul class="nav nav-tabs" role="tablist" id="editor-tabs">
            <li role="presentation" class="active">
                <a href="#blockly-tab" data-toggle="tab">Blockly</a>
            </li>
            <li role="presentation">
                <a href="#code-tab" data-toggle="tab">Code</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" id="blockly-tab" class="tab-pane active">
                <button type="button" id="buildCode" class="btn btn-primary"><i class="fa fa-cog">&nbsp;</i>Create Program</button>
                <br/>

                <div id="blockly" style="width: 92%; margin:1em; height: 480px; "></div>

                <xml id="toolbox" style="display: none">
                    <category name="Control Structures">
                        <block type="controls_if"></block>
                        <block type="controls_if_elseif"></block>
                        <block type="controls_repeat_ext"></block>
                    </category>
                    <category name="operations">
                        <block type="logic_compare"></block>
                        <block type="math_arithmetic"></block>
                    </category>

                    <category name="Values">
                        <block type="math_number"></block>
                        <block type="text"></block>
                    </category>

                    <category name="Functions">
                        <block type="text_print"></block>
                    </category>
                    <category name="User functions">
                        <block type="text_print"></block>
                    </category>
                </xml>

            </div>
            <div role="tabpanel" id="code-tab" class="tab-pane">
                Code
                <div id="code"></div>
            </div>
        </div>
    </div>
{%  endblock %}