{% extends 'microbug/_master.html' %}

{% block head %}
    <!-- Main page: program.html -->
    <title>Microbug: Viewing {{ program.id }}</title>
{% endblock %}

{% block body %}
    <div id="program_id" class="hidden">{{ program.id }}</div>
    <input type="text" id="original_program_name" class="hidden" value="{{ program.name }}">
    <div class="input-group page_level_element">
        <input type="text" class="form-control" id="program_name" value="{{ program.name }}" placeholder="Program name">
        <span class="input-group-addon" id="program_rename">Rename</span>
    </div>

    <div id="blocklyXmlSrc" class="hidden">{{ program.version.xml }}</div>
    {% include "microbug/partials/_emulator_editor.html" with buildBtnId='buildCode' buildBtnText='Build Code'%}
{% endblock %}