{% extends 'microbug/_tutorial.html' %}

{% block tutorial_pages %}
    <section>
        <h1>Page 1</h1>
        <p>My content lives here</p>
        {% include "microbug/partials/blockly_toolboxes/_tutorial_toolbox_1.html" %}
    </section>
    <section>
        <h1>Page 2</h1>
        <p>My content lives here</p>
        {% include "microbug/partials/blockly_toolboxes/_tutorial_toolbox_2.html" %}
    </section>
    <section>
        <h1>Page 3</h1>
        <p>My content lives here</p>
        {% include "microbug/partials/blockly_toolboxes/_tutorial_toolbox_3.html" %}
    </section>
    <section>
        <h1>Page 4</h1>
        <p>My content lives here</p>
        {% include "microbug/partials/blockly_toolboxes/_tutorial_toolbox_4.html" %}
    </section>
    <section>
        <h1>Page 5</h1>
        <p>My content lives here</p>
        {% include "microbug/partials/blockly_toolboxes/_tutorial_toolbox_5.html" %}
    </section>
{% endblock %}