{% extends 'microbug/_master.html' %}

{% block head %}
    <!-- Head: user.html -->
    <title>Microbug: Viewing user {{ viewed_user.username }}</title>
    <!-- Head: user.html -->
{% endblock %}

{% block body %}
    <!-- Body: user.html -->
    <h1>{{ viewed_user.username }}</h1>

    <div>
        <h2>Programs Written</h2>
        {% for program in user_profile.programs_owned %}
            {% include "microbug/partials/_program_card.html" %}
        {% endfor %}
    </div>

    <div style="clear: left">
        <h2>Programs Contributed To</h2>
        {% for program in user_profile.programs_contributed_to %}
            {% include "microbug/partials/_program_card.html" %}
        {% endfor %}
    </div>
    <!-- Body: user.html -->
{% endblock %}