 <!-- Start of _blockly_toolbar.html, owned my MRB -->
<xml id="toolbox" style="display: none">
        <category name="Basic">
                <block type="text"></block>
                <block type="math_number"></block>
                <block type="math_number1"></block>
                <block type="microbug_show_letter"></block>
                <block type="microbug_pause"></block>
                <block type="microbug_print_message"></block>
        </category>
        <category name="LED">
                <block type="microbug_clear_display"></block>
                <block type="microbug_plot"></block>
                <block type="microbug_unplot"></block>
                <block type="microbug_point"></block>
                <block type="microbug_eye_on"></block>
                <block type="microbug_eye_off"></block>
                <block type="microbug_set_eye"></block>
                <block type="microbug_toggle_eye"></block>
                <block type="microbug_get_eye"></block>
        </category>
        <category name="Images">
                <block type="microbug_make_StringImage"></block>
                <block type="microbug_scroll_string_image"></block>
                <!-- <block type="microbug_show_image"></block> -->
                <block type="microbug_show_image_offset"></block>
                <block type="microbug_scroll_image"></block>
                <block type="microbug_build_image"></block>
                <block type="microbug_build_big_image"></block>
                <!-- <block type="microbug_set_image_point"></block>
                <block type="microbug_get_image_point"></block> -->
        </category>
        <category name="Input">
                <block type="microbug_get_button"></block>
                <block type="microbug_logic_button_states"></block>
        </category>
        <category name="If">
                        <block type="controls_if"></block>
                        <block type="controls_if_if"></block>
                        <block type="controls_if_elseif"></block>
                        <block type="controls_if_else"></block>
        </category>
        <category name="Loops">
                <block type="controls_repeat_ext"></block>
                <block type="controls_whileUntil"></block>
                <block type="controls_for"></block>
                <block type="microbug_forever"></block>
        </category>
        <category name="Logic">
                        <block type="logic_compare"></block>
                        <block type="logic_operation"></block>
                        <block type="logic_negate"></block>
                        <block type="logic_boolean"></block>
                        <block type="microbug_logic_onoff_states"></block>
        </category>
        <category name="Maths">
                        <block type="math_arithmetic"></block>
        </category>
        <category name="Variables">
                <block type="variables_set"></block>
                <block type="variables_get"></block>
        </category>    
        <category name="Comment">
                <block type ="microbug_comment"></block>
        </category>
</xml>
<!-- End of _blockly_toolbar.html -->