<!-- Start of _blockly_toolbar.html, owned my MRB -->
<xml style="display: none">
    <category name="Control Structures">
        <block type="controls_if"></block>
        <block type="controls_if_elseif"></block>
        <block type="controls_repeat_ext"></block>
    </category>
    <category name="operations">
        <block type="logic_compare"></block>
        <block type="math_arithmetic"></block>
    </category>
    <category name="Values">
        <block type="math_number"></block>
        <block type="text"></block>
    </category>
</xml>
<!-- End of _blockly_toolbar.html -->