/* This file contains the CSS required specifically for the test page */

.tab-content {
    border-top: 0px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0.5em 1em 0.5em 1em;
    min-height: 10em;
}

.footer {
    margin-top: 0.5em;
    text-align: center;
    color: #ddd;
}

.changed_name {
    color: red !important;
}

.changed_button {
    color: red !important;
}

.name_entry {
    margin-bottom: 1em;
    padding: 0;
}

.rounded {
    border: 1px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}