// This is the theme for the Microbug application

// Global color settings.
$body-bg: #fff;

// Brand-specific colors
$brand-primary: #f00;

// The navigation bar at the top of the screen
$navbar-height: 30px;
$navbar-default-bg: #333;
$navbar-default-color: #ddd;
$navbar-default-brand-color: #fff;
$navbar-border-radius: 0px;